.oneinfo {
  padding: 20px 5% 20px 5%;
  font-size: 1.5em;
  text-align: center;
  font-weight: 400;
  color: #fff;
}
.oneinfo label {
  padding-bottom: 10px;
  display: inline-block;
  color: #fff;
}
.oneclick {
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
}
.oneclick-orange {
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #fe330a;
  color: #fe330a;
  font-size: 18px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
}

.mar-side {
  margin: 0 10px 0 10px;
}
.onehover:hover {
  background-color: #fff;
  color: #00aaff;
  border-color: #00aaff;
}
.one-100vh {
  min-height: 100vh;
}
.onetitle {
  padding: 10px;
  font-size: 1.1em;
  text-align: center;
}

.onecontent {
  min-height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.onecontent::before {
  content: "";
  background-color: #00aaff;
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  bottom: 20px;
  left: 25%;
}
.onecontent::after {
  content: "";
  background-color: #00aaff;
  display: inline-block;
  position: absolute;
  height: 23px;
  width: 23px;
  bottom: 10px;
  left: 50%;
  right: 50%;
  border-radius: 1px;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
}
/*.onecontent::before{content: '';background-color: transparent;display: inline-block; position: absolute; height: 0; width: 0; bottom: 11px;border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 20px solid #00aaff;margin-bottom: 10px;left: 50%; right: 50%}
.onecontent::after{content: '';background-color: transparent;display: inline-block; position: absolute; height: 0; width: 0; bottom: 11px;border-left: 20px solid transparent; border-right: 20px solid transparent; border-top: 20px solid #f00;margin-bottom: -10px;left: 50%; right: 50%}
*/
.onecontent .text {
  padding: 20px;
}
.onecontent .text .title {
  font-weight: 400;
  font-size: 20px;
  border-bottom: 1px solid #82027e;
  display: inline-block;
  padding: 10px 0 10px 0;
}
.onecontent .text p {
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
}
.onecontent .img {
  padding: 20px;
  height: 45%;
  overflow: hidden;
}
.onecontent .img img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  box-shadow: 0 0 5px #000;
}

.onebanner .onetext {
  position: absolute;
  bottom: 10px;
  right: 2%;
  text-align: right;
  font-size: 20px;
  z-index: 77;
}
.onebanner .onetext label {
  color: #fff;
  display: block;
  font-weight: bold;
  padding: 10px;
}
.onebanner .onetext span {
  color: #fff;
  padding: 10px;
}
.onebanner .oneprice {
  position: relative;
  z-index: 29;
  display: inline-block;
  font-weight: 100;
  padding: 20px;
  font-size: 2em;
  border-radius: 50px 0 50px 0;
  box-shadow: 0 0 10px #000;
}
.onebanner .oneprice label {
  display: block;
  text-align: center;
  color: #fff;
}
.c {
  font-size: 15px;
}
.onebanner .onetitle {
  position: relative;
  top: 70px;
  text-align: left;
  font-size: 2em;
}
.oneuser {
  padding-bottom: 30px;
  padding-top: 25px;
}
.oneuser .item {
  padding: 10px;
  text-align: center;
  overflow: hidden;
}
.oneuser .item .img {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.oneuser .item .icon {
  display: inline-block;
  font-size: 4em;
  padding: 20px;
  border-radius: 50%;
}
.oneuser .item .text {
  font-size: 16px;
  font-weight: 400;
  padding: 2px;
  display: block;
}
.oneuser .item .tittle {
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px;
  display: block;
}
.pad-bot {
  padding-bottom: 50px;
}

.onesearch {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 5px;
}
.onesearch .onesearchinput {
  height: 50px;
  width: 100%;
  padding: 10px;
  padding-right: 50px;
  font-size: 1.2em;
  border-radius: 5px;
  border: none;
  padding-left: 110px;
}
.onesearch .oneselect {
  border: none;
  transition: all 0.3s;
  height: 50px;
  padding: 9px 10px 9px 10px;
  font-size: 1.2em;
  background-color: #544;
  position: absolute;
  left: -3px;
  color: #fff;
  top: 0;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
  -webkit-appearance: button;
  -moz-appearance: button;
  cursor: pointer;
}
.onesearch .oneselect option {
  color: #fff;
}
.onesearch .onesearchbtn {
  transition: all 0.3s;
  height: 52px;
  display: block;
  cursor: pointer;
  font-size: 1.5em;
  padding: 12px;
  position: absolute;
  right: 0;
  top: -1px;
  width: 50px;
  text-align: center;
  border-radius: 0 4px 4px 0;
}
.onesearch .onesearchbtn:hover {
  background-color: rgb(0, 76, 240);
}

.onedownnav {
  display: none;
  position: fixed;
  z-index: 99999;
  top: 80px;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.onedownnav .linkbtn {
  color: #fff;
  padding-left: 10px;
}
.onedownnav .linkicon {
  color: #fff;
  font-size: 1.2em;
}
.onedownnav .linkbtn:hover {
  color: rgb(0, 76, 240);
  cursor: pointer;
}
.onedownnav .link {
  width: 100%;
  padding: 10px 10% 10px 10%;
  display: block;
}
.navshow {
  display: block;
  max-height: 73px;
  animation: showanim 0.7s;
  -webkit-animation: showanim 0.7s;
  -moz-animation: showanim 0.7s;
  -o-animation: showanim 0.7s;
  -ms-animation: showanim 0.7s;
}
.navshowall {
  display: block;
  animation: showanim 0.7s;
  -webkit-animation: showanim 0.7s;
  -moz-animation: showanim 0.7s;
  -o-animation: showanim 0.7s;
  -ms-animation: showanim 0.7s;
}
.right {
  border-radius: 0 10px 10px 0;
}
.left {
  border-radius: 10px 0 0 10px;
}
.onebtn {
  width: 49.999%;
  padding: 15px;
  position: relative;
  border: none;
  text-align: center;
  font-weight: 400;
}
.onebtn:not(.right)::before {
  content: "";
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  right: -15px;
  top: 7px;
  background-color: #fff;
  z-index: 2;
  display: inline-block;
}
.onebanner-boxlide {
  display: block;
  width: 500%;
  margin: 0;
  left: 0;
  position: relative;
  z-index: 6;
  animation: bannerslide 30s infinite;
  -webkit-animation: bannerslide 30s infinite;
  -moz-animation: bannerslide 30s infinite;
  -o-animation: bannerslide 30s infinite;
  -ms-animation: bannerslide 30s infinite;
}
.oneslide-item {
  height: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 1% 0 1%;
  background: no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  width: 20%;
  min-height: 80vh;
  text-align: center;
}

.onebox-item {
  padding: 10px;
}
.onebox-item:hover > * {
  cursor: pointer;
}
.onebox-item:hover .img {
  box-shadow: 0 7px 15px #000;
}
.onebox-item .img {
  display: inline-block;
  height: 300px;
  width: 100%;
  background-size: cover;
  box-shadow: 0 0 3px #000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  transition: all 0.3s;
}
.onebox-item .text {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.onebox-item .text .tittle {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.btnmore {
  padding: 20px 3% 20px 3%;
  font-size: 1.5em;
  text-align: center;
  font-weight: 400;
}
.btnmore label {
  padding-bottom: 10px;
  display: inline-block;
}
/*.btnmore a{display: inline-block; padding: 10px; border-radius: 15px; border: 2px solid #fff; color: #fff; font-size: 18px; transition: all .3s ease-out;}*/

@keyframes bannerslide {
  0% {
    left: 0%;
  }
  10% {
    left: 0%;
  }
  12% {
    left: -100%;
  }
  22% {
    left: -100%;
  }
  24% {
    left: -200%;
  }
  34% {
    left: -200%;
  }
  36% {
    left: -300%;
  }
  46% {
    left: -300%;
  }
  48% {
    left: -400%;
  }
  58% {
    left: -400%;
  }
  60% {
    left: -300%;
  }
  70% {
    left: -300%;
  }
  72% {
    left: -200%;
  }
  82% {
    left: -200%;
  }
  84% {
    left: -100%;
  }
  94% {
    left: -100%;
  }
  96% {
    left: 0%;
  }
}
.width {
  width: 100%;
}
.onefooter .onesign {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 1.1em;
  position: relative;
  display: block;
  overflow: hidden;
  color: #fff;
}
/*.onefooter .onesign::after{content:'';position: absolute; width: 60%; height: 2px; top :0; background-color: #fff; z-index: 5; left: 50%; transform: translate(0 50%);}*/
.onefooter .onecontainer div {
  padding: 10px;
}
.onefooter .onecontainer a,
.onefooter .onecontainer span {
  padding: 5px;
  color: #fff;
}
.onefooter .onecontainer .title {
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  font-weight: 400;
}
.onefooter .onecontainer a {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0 5px 0;
  display: block;
  text-align: left;
  cursor: pointer;
}
.onefooter .onecontainer a:hover {
  color: #4886ff;
  font-weight: bold;
}
.rotate {
  transition: 0.4s;
}
.onelinkhover:hover .rotate {
  transform: rotateZ(180deg);
  transition: 0.6s;
}

.oneitem-info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.oneitem-info .apptittle {
  width: 100%;
  display: inline-block;
  padding: 5px;
  font-size: 1.7em;
  text-align: left;
}
.oneitem-info .img {
  display: inline-block;
  width: 200px;
  min-height: 200px;
  border-radius: 10px;
  background-size: cover;
  box-shadow: 0 0 3px #000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.oneitem-info .text {
  border-bottom: 1px solid #ccc;
  text-align: left;
}
.oneitem-info .text .tittle {
  padding: 10px 5px 10px 5px;
  display: inline-block;
  font-size: 19px;
  font-weight: 400;
}
.oneitem-info .text .answer {
  padding: 10px 5px 10px 5px;
  display: inline-block;
}
.oneitem-info .text .answer a {
  padding: 5px;
  border: 2px solid;
  display: inline-block;
  border-radius: 5px;
}
.oneitem-btn {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 0;
  text-align: center;
}
.oneitem-btn .btn {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
}
.onehover-semiorange:not(.onebg-white):hover {
  background-color: #ff5252;
  color: #fff;
  transition: all 0.3s;
}
.onehover-semiorange:not(.onebg-white):hover > * {
  color: #fff;
}
.oneitem-btn .btn .icon {
  font-size: 2.5em;
}
.oneitem-btn .btn .text {
  padding: 10px;
  font-size: 19px;
  font-weight: 400;
}
.oneborder-left {
  border-left: 1px solid;
}
.onehide {
  display: none;
}
.notok {
  text-align: center;
  font-size: 3em;
}
.backimg {
  width: 100%;
  min-height: 50px;
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0;
  background: no-repeat 0px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}
.after::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
}
.after2::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
}
.after3::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.backimg .absolute {
  position: relative;
  z-index: 2;
  padding-left: 5%;
  padding-right: 5%;
}

.fexbox {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.applist {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
  height: 100%;
}
.applist .tittle {
  padding: 10px 10px 10px 0;
  font-weight: bold;
  width: 100%;
}
.applist .appbox {
  padding: 15px;
  position: relative;
}
.applist .appbox .content {
  padding: 20px;
  border-radius: 5px;
  height: 100%;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -moz-transition: 0.3s all;
}
/*.applist .appbox .content img{width: 100%;}
.applist .appbox .content .appstype{padding: 10px; text-align: center; }
.applist .appbox .content .appstitle{text-align: center; padding-top: 5px;}*/
/*.applist .appbox .appsstatus{font-size: 0.8em; font-weight: bold;padding-top: 5px; padding-bottom: 3px;}
.applist .appbox .appsrelased{padding:10px; text-align: center;border-radius: 4px; }*/
/*.applist .released{position: relative;}*/
/*.appbox .content:hover{background-color: #82027E; cursor: pointer;}
.appbox .content:hover .appsstatus,.appbox .content:hover .appstitle{color: #fff}*/

.colomapps {
  padding: 0 10% 0 10%;
}
.colomrecent {
  padding: 0 10% 0 10%;
  position: relative;
  clear: both;
  position: relative;
  z-index: 6;
  top: -100px;
}
.ban {
  min-height: 180px;
}

.slider {
  width: 400%;
  position: relative;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-transition: 0.5s all;
  left: 0;
}
.slider .slide25 {
  width: 24.99999%;
  float: left;
}
.min100 {
  left: 0%;
}
.min100 {
  left: -100%;
}
.min200 {
  left: -200%;
}
.min300 {
  left: -300%;
}
.slider .btn {
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -moz-transition: 0.2s all;
}
.slider .btn:hover {
  background-color: #82027e;
}

.apps {
  overflow: hidden;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
.apps .box {
  width: 24.99999%;
  min-height: 24.9999%;
  padding: 30px;
  text-align: center;
  cursor: pointer;
}
.apps img {
  width: 100%;
  padding: 10px;
}
.apps .subtittle {
  padding: 10px 0 10px 0;
  font-size: 0.8em;
  font-weight: bold;
}
.apps .tittle {
  padding: 10px 0 10px 0;
}
.apps .box .img {
  padding: 5px;
  position: relative;
}
.apps .box .img .imglist {
  position: relative;
  width: 100%;
}
.apps .box .img .imglist .imgrender {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.apps .box:hover .img .imglist:after {
  height: 0;
}
.apps .box .img .imglist:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(139, 7, 196, 0.6);
  z-index: 0;
  left: 0;
  top: 0;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  border-radius: 5px;
}
/*.apps .box:hover img{padding: 2px;}*/

.whatwe {
  overflow: hidden;
}
.whatwe .itemright {
  padding: 25px 3px 25px 3px;
  text-align: right;
  position: relative;
}
.whatwe .itemleft {
  padding: 25px 3px 25px 3px;
  text-align: left;
  position: relative;
}

.whatwe .itemleft .headtext {
  width: 100%;
  padding: 10px 10px 10px 113px;
  font-size: 1.2em;
}
.whatwe .itemright .headtext {
  width: 100%;
  padding: 10px 113px 10px 10px;
  font-size: 1.2em;
}
.whatwe .itemright .foottext {
  width: 100%;
  padding: 0px 115px 5px 5px;
  font-size: 1em;
}
.whatwe .itemleft .foottext {
  width: 100%;
  padding: 0px 5px 5px 115px;
  font-size: 1em;
}

.whatwe .itemleft .img {
  width: 90px;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  left: 15px;
  top: 10px;
  font-size: 5em;
}
.whatwe .itemright .img {
  width: 90px;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 5em;
}

.logo {
  font-size: 8em;
  padding: 30px;
}

.textview {
  padding: 20px 10%;
  overflow: hidden;
}
.imgview {
  padding: 20px 13% 20px 13%;
  overflow: hidden;
  width: 100%;
}
.imgview .box {
  position: relative;
}
.imgview .box .imglook {
  z-index: 2;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.imgview .box .text {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  font-size: 1.3em;
}
.imglist {
  padding: 5px 13% 20px 13%;
  overflow: hidden;
}
.imglist .box {
  position: relative;
}
.imglist .box .imglook {
  z-index: 2;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.imglist .list {
  padding: 5px;
  transition: 0.3s all;
}
.imglist .list:hover {
  cursor: pointer;
  padding: 10px;
}

.shadow {
  box-shadow: 0 0 5px #333;
  -webkit-box-shadow: 0 0 5px #333;
  -moz-box-shadow: 0 0 5px #333;
  -o-box-shadow: 0 0 5px #333;
  -ms-box-shadow: 0 0 5px #333;
  border-radius: 0px;
}

.foxapps {
  overflow: hidden;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
.foxapps .box {
  min-height: 24.9999%;
  padding: 30px;
  text-align: center;
  cursor: pointer;
}
.foxapps img {
  width: 100%;
  padding: 10px;
}
.foxapps .subtittle {
  padding: 5px 0 5px 0;
  font-size: 0.8em;
  font-weight: bold;
}
.foxapps .tittle {
  padding: 7px 0 10px 0;
  font-weight: 200;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  font-size: 0.85em;
}
.foxapps .bigsubtittle {
  font-size: 0.8em;
  font-weight: bold;
  text-align: right;
  padding: 10px;
}
.foxapps .bigtittle {
  font-weight: 200;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  font-size: 0.9em;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
}
.foxapps .box .img {
  padding: 5px;
  position: relative;
}
.foxapps .box .img .imglist {
  position: relative;
  width: 100%;
}
.foxapps .box .img .imglist .imgrender {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.foxapps .box .img .release {
  min-width: 100px;
  position: absolute;
  z-index: 4;
  top: 5px;
  left: 5px;
  padding: 5px;
  border: 1px solid rgb(38, 38, 38);
  color: rgb(38, 38, 38);
  border-radius: 5px;
  background-color: rgba(244, 244, 244, 0.7);
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  -o-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
}
.foxapps .shadow {
  box-shadow: 0 0 5px #333;
  -webkit-box-shadow: 0 0 5px #333;
  -moz-box-shadow: 0 0 5px #333;
  -o-box-shadow: 0 0 5px #333;
  -ms-box-shadow: 0 0 5px #333;
  border-radius: 5px;
}
.foxapps .bigshadow {
  box-shadow: 0 0 5px #333;
  -webkit-box-shadow: 0 0 5px #333;
  -moz-box-shadow: 0 0 5px #333;
  -o-box-shadow: 0 0 5px #333;
  -ms-box-shadow: 0 0 5px #333;
  border-radius: 0px;
}
.foxapps .boxtittle {
  position: absolute;
  z-index: 4;
  bottom: 15px;
  left: 0;
  width: 100%;
}
.foxapps .box:hover .release {
  border-color: #8b07c4;
  color: #fff;
  background-color: #8b07c4;
}
.foxapps .box:hover .tittle {
  color: #8b07c4;
}
.foxapps .box:hover .bigtittle {
  color: #fff;
}

.loaderanim {
  animation: 1s loader infinite;
  -webkit-animation: 1s loader infinite;
  -moz-animation: 1s loader infinite;
  -o-animation: 1s loader infinite;
  -ms-animation: 1s loader infinite;
}
.loader {
  height: 200px;
  padding-top: 100px;
  width: 100%;
  text-align: center;
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.6;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.texttitle {
  position: relative;
  color: #cc00ffff;
}
.texttitle:after {
  content: "";
  height: 2px;
  position: absolute;
  width: 50%;
  bottom: 5px;
  left: 25%;
  background-color: #cc00ffff;
}
