$darkPurple: rgb(61,3,59);
$purple: rgb(122, 5, 118);
$lightPurple: #8B07C4FF;
$lightBlue: #0AF;

$primaryColor : #d5417a;
$primaryShadow: #0073b1;
$notifyOk : #469a1f;
$notifyWarning: #ffda4b;
$notifyAlert: #c8352b;
$notifyAlertShadow: 0 0 4px #c8352b;
$notActive: #5a5a5a;
