.before::before{content: ''; width: 30%; height: 2px; display: inline-block; background-color: red; position: absolute;}
.oneme{border-radius: 5px;background-color: rgba(41, 1, 39,0.6);}
.noborder{border: none;font-size: 1.3em}